@font-face {
  font-family: "brandon-grotesque";
  src: url('/font/brandon_reg.ttf') format('woff');
}

@font-face { 
  font-family: "brandon-grotesque"; 
  font-weight: bold; 
  src: url('/font/brandon_bold.ttf');
}

body { 
  margin: 0;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-transform: normal;
  font-style: normal;
  color: #8f989d
}
#header-logo {
 margin-bottom: 30px;
}

.container {
  width: 75%;
  margin: 0 auto;
}


.container-pod {
  padding-top: 20px;
  padding-bottom: 32px;
  margin: 0 auto;
}

ul, li {
  padding: 0;
  margin-top: 0;
  display: inline;
}
a {
  color: #ee6123;
  float: left;
  padding: 0.2em 0.6em;
	text-decoration: none
}
a:hover {
  color: #98370c;
  text-decoration: underline
}
a:active {
  color: #331204;
  text-decoration: none
}
#link-shortener-url {
  padding-left: 10px;
}
input    {
font-size: 13px;
width:220px;
border: 1px solid #ee6123;
height: 30px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
padding: 0;
}
.button.button-primary {
	height: 30px;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-width: 0;
  border-color: none;
  color: #fff;
  text-shadow: none;
  background-color: #ee6123;
  -webkit-box-shadow: 0 0 0 1px #ee6123;
  box-shadow: 0 0 0 1px #ee6123;
  margin-top: 0;
  margin-bottom: 0;
}
.button.button-primary:hover {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-width: 0;
  border-color: none;
  color: #fff;
  text-shadow: none;
  background-color: #e45212;
  -webkit-box-shadow: 0 0 0 1px #e45212;
  box-shadow: 0 0 0 1px #e45212;
  margin-top: 0;
  margin-bottom: 0
}

.page-header-headline.flush-top {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: 1200;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  color: #61b3de;
  text-shadow: none;
  text-align: center;
  margin: 0 0 8px 0
}

.page-header-description.flush-top.flush.bottom {
  font-size: 14px;
}

#header-actions {

}

footer {
}