<h1>Welcome!</h1>
<form action="/urls" method="post">
	Shorten a url :
	<input type ="text" name="user_input_url">
	<input type ="submit" value="Submit">
</form>

<h3>Listing the URLs</h3>
<table>
  <tr>
    <th>Long URL</th>
    <th>Shortened URL</th>
    <th></th>
    <th></th>
  </tr>
<% @urls.each do |url| %>
	<tr>
		<td><%= url.long_url%></td>
		<td><a href="<%= url.shortened_url %>"><%= url.shortened_url %></a><td>
	</tr>
	<% end %>
	</table>
